In [52]:
import pandas as pd,scipy,numpy as np
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pickle

In [17]:
df = pd.read_csv("data_banknote_authentication.txt",names=["variance","skewness","curtosis","entropy","class"])
# !pip install --upgrade pandas

In [69]:
df

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [25]:
# zero is the real and 1 is fake notes...

X = df.iloc[:,:4]
Y = df.iloc[:,-1]

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,train_size=0.3,random_state=70)

In [41]:
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8376690946930281

In [47]:
model_2 = KNeighborsClassifier(n_neighbors=3)
model_2.fit(X_train,y_train)
model_2.score(X_test,y_test)

1.0

In [67]:
#so store model 2 because score is 100%
y_pred = model_2.predict(X_test)
acc =  accuracy_score(y_pred,y_test)
acc

1.0

In [68]:
pickle_out = open("KNN_Classifier.pkl","wb")
pickle.dump(model_2,pickle_out)
pickle_out.close()